.parallax-footer {
  animation: footerParallax linear;
  animation-timeline: scroll();
}

@keyframes footerParallax {
  0% {
    opacity: 0;
  }

  80% {
    scale: 2;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

/* onLoad animations */
.loadFromLeft {
  animation: loadFromLeftAnimation 1.2s ease-out forwards;
}

@keyframes loadFromLeftAnimation {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.loadFromRight {
  animation: loadFromRightAnimation 1.2s ease-out forwards;
}

@keyframes loadFromRightAnimation {
  from {
    opacity: 0;
    transform: translateX(150%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Waves */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (min-width: 700px) {
  /* Left Swipe Animation */
  .md-showFromLeft {
    animation: md-showFromLeftAnimation 0.8s ease-out;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
    animation-fill-mode: backwards;
  }

  @keyframes md-showFromLeftAnimation {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Right Swipe Animation */
  .md-showFromRight {
    animation: md-showFromRightAnimation 0.8s ease-in-out;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
    animation-fill-mode: backwards;
  }

  @keyframes md-showFromRightAnimation {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Scroll animations */
  .md-scrollFromRight {
    animation: md-scrollFromRightAnimation both;
    animation-timeline: scroll();
    animation-range: entry 20% cover 70%;
    animation-fill-mode: both;
  }

  @keyframes md-scrollFromRightAnimation {
    to {
      opacity: 0;
      transform: translateX(150%);
    }

    from {
      opacity: 1;
      transform: translate(0);
    }
  }

  .md-scrollFromLeft {
    animation: md-scrollFromLeftAnimation both;
    animation-timeline: scroll();
    animation-range: entry 20% cover 70%;
    animation-fill-mode: both;
  }

  @keyframes md-scrollFromLeftAnimation {
    to {
      opacity: 0;
      transform: translateX(-50%);
    }

    from {
      opacity: 1;
      transform: translate(0);
    }
  }

  /* Image Bounce Animation */
  .md-imageBounce {
    animation: 2s alternate-reverse infinite md-imageBounce;
  }

  @keyframes md-imageBounce {
    from {
      background-position: 50% 0%;
    }

    to {
      background-position: 50% 100%;
    }
  }

  /* AutoShow animation */
  .autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(80% auto);
  }

  @keyframes autoShowAnimation {
    from {
      opacity: 0;
      transform: translateY(200px) scale(0.3);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

@media screen and (min-width: 1500px) {
  /* Blur animation */
  .autoBlur {
    animation: autoBlurAnimation both;
    animation-timeline: view();
  }

  @keyframes autoBlurAnimation {
    0% {
      filter: blur(40px);
    }

    45%,
    55% {
      filter: blur(0px);
    }

    100% {
      filter: blur(40px);
    }
  }

  /* Left Swipe Animation */
  .showFromLeft {
    animation: showFromLeftAnimation 0.8s ease-out;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
    animation-fill-mode: backwards;
  }

  @keyframes showFromLeftAnimation {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Right Swipe Animation */
  .showFromRight {
    animation: showFromRightAnimation 0.8s ease-in-out;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
    animation-fill-mode: backwards;
  }

  @keyframes showFromRightAnimation {
    from {
      transform: translateX(150%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Zooom In on Scroll Animation */
  .zoomInImage {
    animation: zoomInImageAnimation both;
    animation-timeline: scroll();
    animation-range: cover 0% cover 100%;
    animation-fill-mode: both;
  }

  @keyframes zoomInImageAnimation {
    0% {
      background-size: 100%;
      opacity: 1;
    }

    100% {
      background-size: 200%;
      opacity: 0;
    }
  }

  /* Image Bounce Animation */
  .imageBounce {
    animation: 2s alternate-reverse infinite imageBounce;
  }

  @keyframes imageBounce {
    from {
      background-position: center;
    }

    to {
      background-position: 50% 65%;
    }
  }
}

/* .loadFromLeft.scrollFromLeft {
  animation: slideFromLeftOnLoad 1.2s ease-out forwards, scrollFromLeftAnimation;
  animation-timeline: none, scroll();
  animation-range: normal, cover 0% cover 1000%;
  animation-fill-mode: forwards, both;
} */

/* animation: slideFromLeftOnLoad 1.2s ease-out forwards; */
/* example 5s linear 2s infinite alternate */
/* 
.loadFromLeft.scrollFromLeft {
  animation: slideFromLeftOnLoad 1.2s ease-out 2s forwards,
    scrollFromLeftAnimation both;
  animation-timeline: none, scroll();
  animation-range: normal, cover 0% cover 100%;
} */

/* .loadFromLeft.scrollFromLeft {
  animation-name: slideFromLeftOnLoad, scrollFromLeftAnimation;
  animation-duration: 1.2s, auto;
  animation-timing-function: ease-out, linear;
  animation-fill-mode: forwards;
  animation-timeline: auto, scroll();
  animation-range: normal, 0% 100%;
}

.loadFromRight.scrollFromRight {
  animation: slideFromRightOnLoad 1.2s, scrollFromRightAnimation 0.8s ease-out;
  animation-timeline: none, view();
  animation-range: normal, entry 0% cover 100%;
  animation-fill-mode: forwards, both;
}

@keyframes slideFromLeftOnLoad {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scrollFromLeftAnimation {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
} */
