@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --dark: #23272a;
  --light: #ffffff;
  --grey: #f6f6f6;

  --font-family: "Open Sans", sans-serif;
  --secondary-font: "Luckiest Guy", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 4rem 2rem;
  width: 100%;
  background: url("../images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;

  h1 {
    width: 15rem;
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--light);
  }

  p {
    color: var(--light);
  }

  .header__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  button {
    padding: 1rem;
    width: 100%;
    border-radius: 50px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  button:nth-child(2) {
    padding: 0.8rem;
    background: var(--dark);
    color: var(--light);
  }
}

main section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 3rem 1.5rem;

  .section__texts {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    h2 {
      font-size: 1.5rem;
    }
  }
}

main section:nth-child(even) {
  background: var(--grey);
}

main section:last-child {
  h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: var(--dark);

  img {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 7rem 2rem;
    align-items: center;

    h1 {
      width: 30rem;
      font-size: 3.5rem;
      text-align: center;
    }

    p {
      max-width: 45rem;
      text-align: center;
    }

    .header__buttons {
      flex-direction: row;
      column-gap: 1.5rem;
    }

    button {
      padding: 1rem;
      width: 17rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main section {
    padding: 4rem 10rem;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    width: 100%;

    .section__texts {
      max-width: 22rem;

      h2 {
        font-size: 2.5rem;
      }
    }
  }

  main section:nth-child(2) {
    flex-direction: row-reverse;
  }

  main section:nth-child(3) {
    .section__texts {
      max-width: 21rem;
    }
  }

  .last-section {
    flex-direction: column;

    .section__texts {
      margin-top: 2rem;
      max-width: 50rem;

      h2 {
        font-size: 2.5rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  footer {
    padding: 3rem;

    img {
      width: 13rem;
    }
  }
}
