@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --dark: #282841;
  --dark-hover: #4a4d6b;
  --light: #ffffff;
  --light-hover: #dfdede;
  --grey: #f6f6f6;
  --primary: #4654ee;
  --secondary: #1c1b29;

  --font-family: "Open Sans", sans-serif;
  --secondary-font: "Luckiest Guy", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 4rem 2rem;
  width: 100%;
  background: url("../images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  opacity: 1;
  transition: opacity 1s;

  @starting-style {
    opacity: 0;
  }

  h1 {
    width: 15rem;
    font-family: var(--secondary-font);
    font-size: 2rem;
    color: var(--light);
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: calc(200ms * var(--i));

    @starting-style {
      opacity: 0;
    }
  }

  p {
    color: var(--light);
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: calc(200ms * var(--i));

    @starting-style {
      opacity: 0;
    }
  }
}

.header__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition-delay: calc(200ms * var(--i));

  @starting-style {
    opacity: 0;
  }

  button {
    position: relative;
    padding: 1rem;
    width: 100%;
    border-radius: 50px;
    border: none;
    background: var(--light);
    overflow-x: hidden;
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--primary);
      opacity: 0;
      transition: 0.3s ease-in-out;
      z-index: 1;
    }

    &:hover::before {
      opacity: 0.2;
      width: 100%;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }

  button:nth-of-type(2) {
    padding: 0.8rem;
    min-width: 300px;
    background-color: var(--dark);
    color: var(--light);
    border: none;

    &:hover::before {
      opacity: 0.5;
    }
  }
}

main section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 3rem 1.5rem;

  .section__texts {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    h2 {
      font-size: 1.5rem;
    }
  }
}

section .loadFromLeft img {
  width: 100%;
}

main section:nth-child(even) {
  background: var(--grey);
}

main section:last-child {
  h2 {
    font-family: var(--secondary-font);
    font-size: 2rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: var(--dark);

  img {
    width: 50%;
  }
}

.footer__attribution-container {
  padding: 0.5rem 0;
  background: var(--secondary);
  color: var(--light);
  text-align: center;

  a {
    color: var(--light);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 10rem 2rem;
    align-items: center;

    h1 {
      width: 30rem;
      font-size: 3.5rem;
      text-align: center;
    }

    p {
      max-width: 45rem;
      text-align: center;
    }
  }

  .header__buttons {
    flex-direction: row;
    column-gap: 1.5rem;

    button {
      padding: 1.2rem 1.5rem;
      white-space: nowrap;
    }

    button:nth-of-type(2) {
      padding: 1.2rem 3rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main section {
    padding: 4rem 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    width: 100%;

    .section__texts {
      max-width: 22rem;

      h2 {
        font-size: 2.5rem;
      }
    }
  }

  main section:nth-child(1) {
    opacity: 1;
    transition: 1s;

    @starting-style {
      opacity: 0;
    }
  }

  main section:nth-child(2) {
    flex-direction: row-reverse;
  }

  main section:nth-child(3) {
    .section__texts {
      max-width: 21rem;
    }
  }

  /* .loadFromLeft {
    transform: translateX(0);
    opacity: 1;
    transition: 1.2s ease-in-out;

    @starting-style {
      opacity: 0;
      transform: translateX(-50%);
    }
  }

  .loadFromRight {
    transform: translateX(0);
    opacity: 1;
    transition: 1.2s ease-in-out;

    @starting-style {
      opacity: 0;
      transform: translateX(150%);
    }
  } */

  .last-section {
    flex-direction: column;
    row-gap: 0;

    .section__texts {
      margin-top: 2rem;
      max-width: 50rem;

      h2 {
        font-size: 2.5rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  .footer__logo-container {
    padding: 3rem;

    img {
      width: 13rem;
    }
  }

  .footer__attribution-container {
    padding: 1rem 0;
  }
}
